*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #666;
}

.register-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.register-container {
    background: white;
    padding: 2.5rem 3rem;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    text-align: center;
}
  
.register-container h2 {
    margin-bottom: 1.5rem;
    color: #2d3748;
}

.register-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.register-container input {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
}

.password-group {
    position: relative;
}

.radio-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
}

.radio-option{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

input[type="checkbox"]{
    width: auto;
}

.radio-checkbox{
    display: flex;
    gap: 10px;
    font-size: 15px;
    margin-top: 10px;
}

.register-container button{
    padding: 0.75rem;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
